body{
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 24px;
    font-family:Helvetica, sans-serif;
}
.buttons{
    background-color: 36454f;
    margin:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 8px;
    padding: 4px;
    flex-wrap:wrap;
}
button{
    font-family:Helvetica, sans-serif;
    background:#616161;
    color: whitesmoke;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    font-size: 30px;
    font-family: Roboto, sans-serif;
}
.calculator{
    background:rgb(0, 0, 0) ;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    max-width: 400px;
    max-height: 800px;
}
.equal{
    width: 170px;
    height: 80px;
}
.display{
    background-color: #616161;
    margin:15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height:150px;
}
.input{
    min-height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    color:rgb(135, 240, 240);
}
.output{
    font-size: 80px;
    min-height: 100px;
    display: flex;
    justify-content: right;
    align-items: center;
    color:aqua;
}
button:hover{
    background-color: #bdbdbd;  
}
.operator:hover{
    background-color:rgb(208, 255, 0);
}
.equal:hover{
    background-color: aqua;
}
.allClear:hover,.clear:hover{
    background-color: red;
}
button,.buttons{
    outline: auto;
}